---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lujgher - Remodelación y Construcción en Santiago de Chile">
	<main>
		<h1 class="text-white text-5xl">Hola mundo</h1>
	</main>
</Layout>

<style></style>
